header {
    background-color: lightsalmon;
}
#food_listing {
    display: flex;
    flex-direction: column;
    width: 100% - 300px;
}
#shopping_cart {
    width: 300px;
    text-align: start;
    padding-left: 24px;
}
#content_wrapper {
    display: flex;
}
.food_item {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;

}
#food_section {
    flex: 1;
}
#cart_section {
    background-color: aquamarine;
    text-align: center;
}
.space_between {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    border-radius: 10px;   
}
.hidden {
    display: none;
}
.shopping_cart {
    display: flex;
}