header {
    background-color: lightsalmon;
}
#food_listing {
    display: flex;
    flex-direction: column;
    width: 100% - 300px;
    flex: 1;
}
#shopping_cart {
    width: 300px;
}
#content_wrapper {
    display: flex;
}
.food_item {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 50px 10px;
}